img.cartImage{
    height: 6rem;
}

.leftSide{
    display: flex;
    flex-direction: row;
}

.cartText{
    align-self: center;
}

.shoppingCartHeading{
    margin: .8rem .8rem .8rem 2rem;
}

.emptyCartButton{
    background-color: green;
    font-size: .8rem;
    padding: .3rem;
    height: 2.2rem;
    width: 10rem;
    margin-left: 6rem;
    margin-top: 1rem;
}

.cartBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartRight{
    width: 30vw;
    align-items: center;
}

.cartLeft{
    /* margin-left: 5rem; */
    width: 60vw;
}

h2{
    font-weight: bolder;
}

.itemsText{
    font-size: .8rem;
    align-self: center;
}

.notYetContent{
    /* background-color: black; */
    margin-top: 2rem;
    margin-left: 15rem;
    /* align-self: center; */
    justify-self: center;
}

.orderSummary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.totalPrice{
    margin-right: 6rem;
}