.CheckoutNavigation{
    background-color: rgb(29, 65, 29);
    color: white;
    display: flex;
    height: 6vh;
}

.CheckoutNavigation > *{
    align-self: center;
    margin-left: 5rem;
}

.checkoutNumber{
    margin-left: 5rem;
}

.createCheckoutSession{
    background-color: green;
    font-size: .8rem;
    padding: .3rem;
    height: 2.2rem;
    width: 10rem;
    margin-left: 6rem;
    margin-top: 1rem;
}