.trade-effect {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trade-effect h4 {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

