@tailwind base;
@tailwind components;
@tailwind utilities;

/* rgb(29, 65, 29) */

.iconbar{
    background-color: rgb(29, 65, 29);
    display: flex;
    flex-direction: row;
    height: 8vh;
    /* color: rgb(29, 65, 29); */
    /* justify-content: space-around; */
}


.navigationBar {
    /* position: fixed; */
}

ul{
    text-decoration: none;
}

.iconbar > div{
    padding: 1.5rem;
}


Link{
    text-decoration: none;
}


.iconbar > .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon{
    padding: 0 2rem 0 2rem ; 
}


.iconbar > .logo{
    padding-right: 5rem;
    font-size: 1.7rem;
}

.linking {
    color: white;
    text-decoration: none;
}

.linking :hover{
    color: rgb(199, 203, 207);
}

.icon p{
    margin-top: .2rem;
    text-align: left;
}

.icon img{
    /* border-radius: 40%; */
    height: 1.3rem;
}

.iconbar  input {
    width: 40rem;
    height: 2rem;
    /* padding-top: 0; */
}
