.subnavigation, .right{
    display: flex;
}

img.menu-image{
    height: 3vh;
}

.sub-link{
    text-decoration: none;
    font-size: large;
    margin: 0 2.3rem 0 2.3rem;
    color: green;
}

.subnavigation{
    justify-content: space-between;
    background-color: #EFF5EE;
}

.subnavigation > * {
    padding: .4rem;
}

