
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: auto; 
}

.subnavigation {
    background-color: #EFF5EE;
    white-space: nowrap;
    width: 100%;
}

.centerWrapper {
@media (max-width: 768px) { /* Adjust this value based on when you notice the issue */
    .centerWrapper {
        justify-content: start;
    }
}
}