/* @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100&family=Barlow:wght@600&family=Crimson+Text&family=Montserrat&family=Quicksand:wght@300&family=Ysabeau+Office:wght@100&family=Ysabeau:wght@100&display=swap'); */


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    background-color: #F5F5F5;
}
