.product{
    width: 15vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
    /* padding: 1rem; */
    margin: 1rem;
}

.product:hover{
    transition: 500ms;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.product h2 {
    margin: 0px;
    color: rgb(126, 198, 126);
    text-align: center;
}
.price{
    font-size: 2rem;
}
.product > img{
    width: 100%;
}

.cartButton{
    background-color:  rgb(50, 94, 50);
    color: white;
    border-radius: 2px;
    height: 2rem;
    border: none;
}
.cartButton:hover{
    
}