.loginPage{
    height: 100vh;
    width: 100vw;
    background-color: #EFF5EE;
    align-items: center;
    display: flex;
    justify-content: center;
}

.accountPage{
    height: 94vh;
}

.loginCard{
    background-color: white;
    padding: 1rem;
    height: 90%;
    width: 30%;
}

input[type = 'password']{
    width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spanning_element{
    margin-left: 2.6rem;
}

.userId{
    margin-left: 1.5rem;
}

.lognavigator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.personalImage{
    height: 1rem;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.changeButton{
    margin-left: 1rem;
    color: rgb(16, 114, 219);
    text-decoration: underline;
}


.spanning_element_email, .userId, .spanning_element{
    font-weight: lighter;
}

.detail{
    display: flex;
    flex-direction: column;
}


.spanning_element_email{
    margin-left: 6rem;
}

.heading > * > *, .details > *{
    margin: none;
    padding: none;
    text-align: left;
}

span{
    color: black;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.link{
    text-decoration: none;
    padding: 0 0 .9rem 0;
    color: black;
    font-size: .9rem;
}

.head_content{
    font-weight: bolder;
    color: green;
    font-size: .95rem;
    margin-top: .6rem;
}
ƒ

hr{
    width: 70%;
}

hr.loginLine{
    margin:2rem 0 2rem 0rem;
}


input[type = 'button']{
    background-color: #00693e;
    border: 1px solid black;
    color: white;
    height: 2rem;
    width: 8rem;
    border-radius: .3rem;
    border: none;
}
input[type = 'button']:hover{
    cursor: pointer;
    background-color: white;
    color: #00693e;
    border: 1px solid #00693e;
}

input.buttonLogin{
    align-self: center;
    margin-top: 1rem;
}

.horizontal{
    width: 100%;
}

.active{
    text-decoration: none;
    color:#00693e;
}

.third-party-login, .third-party-login-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-party-login > input, .third-party-login-accoun > input{
    height: 2.5rem;
    width: 70%;
}



.loginLinks, .accountLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.loginLinks{
    margin-top: 5rem;
}

.accountLinks{
    margin-top: 1.5rem;
}

h2{
    margin: none;
    padding: none;
}

.partTwo{
    align-self: center;
}

.profileImage{
    border-radius: 50%;
    height: 5rem;
    margin: 1rem 5rem 1rem 14rem;
    align-self: center;
}

.horizontaldetail{
    width: 100%;
    margin-bottom: 1rem;
}

.account_navigation{
    background-color: rgb(29, 65, 29);
    position: block;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: 8vh;
}
.account_navigation .rightLinks{
    display: flex;
    flex-direction: row;
    margin-left: 60%;
}

.accountLinks{
    text-decoration: none;
    padding: 0 0 0 2rem;
}

h4{
    color: black;
}

.accountLine{
    margin-bottom: 1rem 0 1rem 0;
}

.buttonSignup{
    margin:1rem 0 2rem 0;
}

.account_main_div{
    height: 94vh;
}